NodeRED-Main.json
[{"id":"4717c57.ce4d9bc","type":"tab","label":"Main","disabled":false,"info":""},{"id":"42d89376.5abd7c","type":"http request","z":"4717c57.ce4d9bc","name":"forecast weather","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/onecall?lat=41.65606&lon=-0.87734&exclude=minutly&appid=1ade5d09bf3e3e7d5bece4979dce1c00","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":40,"wires":[["b91e06fa.496fe"]]},{"id":"11106889.516cff","type":"inject","z":"4717c57.ce4d9bc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":100,"wires":[["42d89376.5abd7c","4704295b.4af138"]]},{"id":"952b5b1b.4960a","type":"debug","z":"4717c57.ce4d9bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":100,"wires":[]},{"id":"b91e06fa.496fe","type":"function","z":"4717c57.ce4d9bc","name":"Parse Data","func":"var payload = [48];\nvar i = 0;\n\nwhile (i < 48){\n    payload[i] = [{\n        time: msg.payload.hourly[i].dt * 1000000000,\n        temperature: msg.payload.hourly[i].temp - 273.15,\n        clouds: msg.payload.hourly[i].clouds,\n        visibility: msg.payload.hourly[i].visibility,\n        humidity: msg.payload.hourly[i].humidity,\n        pressure: msg.payload.hourly[i].pressure,\n        description: msg.payload.hourly[i].weather[0].description\n    }]\n    i = i + 1;\n}\n\nreturn {\n    payload: payload\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":60,"wires":[["952b5b1b.4960a","64bebd2d.b831ac"]]},{"id":"96c68b7b.865438","type":"influxdb out","z":"4717c57.ce4d9bc","influxdb":"7cf07ef2.61e6b","name":"Weather","measurement":"weather","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":60,"wires":[]},{"id":"64bebd2d.b831ac","type":"json","z":"4717c57.ce4d9bc","name":"","property":"measurement","action":"","pretty":true,"x":590,"y":40,"wires":[["96c68b7b.865438"]]},{"id":"73df6a63.77a5f4","type":"mqtt in","z":"4717c57.ce4d9bc","name":"pruebadragino1","topic":"v3/+/devices/pruebadragino1/up","qos":"2","datatype":"json","broker":"d14a9d96.0a34b8","x":240,"y":280,"wires":[["99ca7274.cd8a58","8d84547f.0a337"]]},{"id":"99ca7274.cd8a58","type":"function","z":"4717c57.ce4d9bc","name":"decoder","func":"const bytes = Buffer.from(msg.payload.uplink_message.decoded_payload.bytes, 'base64');\nconst port = msg.payload.port;\n\nvar payload = [\n[{\n  //payver: bytes[0],\n  produccion: (bytes[1]*256+bytes[2]),\n  bateria: (bytes[3]*256+bytes[4]),\n  consumo: (bytes[5]*256+bytes[6]),\n  //param1: (bytes[9]*256+bytes[10]),\n  //param2: (bytes[11]*256+bytes[12])\n}]\n];\n\nreturn {\n    payload: payload\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":300,"wires":[["90f158c8.94e3a8","8be7293e.829af8"]]},{"id":"8d84547f.0a337","type":"debug","z":"4717c57.ce4d9bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":260,"wires":[]},{"id":"90f158c8.94e3a8","type":"debug","z":"4717c57.ce4d9bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":340,"wires":[]},{"id":"25325731.c90d","type":"influxdb out","z":"4717c57.ce4d9bc","influxdb":"7cf07ef2.61e6b","name":"Gateway","measurement":"gateway","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":300,"wires":[]},{"id":"8be7293e.829af8","type":"json","z":"4717c57.ce4d9bc","name":"","property":"measurement","action":"","pretty":true,"x":590,"y":280,"wires":[["25325731.c90d"]]},{"id":"4704295b.4af138","type":"http request","z":"4717c57.ce4d9bc","name":"PVPC esios","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.esios.ree.es/archives/70/download_json?locale=es","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":160,"wires":[["caa0531c.400d8"]]},{"id":"e822f090.b518a8","type":"debug","z":"4717c57.ce4d9bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":220,"wires":[]},{"id":"151281a2.9e4c2e","type":"influxdb out","z":"4717c57.ce4d9bc","influxdb":"7cf07ef2.61e6b","name":"PVPC","measurement":"pvpc","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":180,"wires":[]},{"id":"8b0de6e0.83d778","type":"json","z":"4717c57.ce4d9bc","name":"","property":"measurement","action":"","pretty":true,"x":590,"y":160,"wires":[["151281a2.9e4c2e"]]},{"id":"95c6f4df.d93ab","type":"http request","z":"4717c57.ce4d9bc","name":"forecast weather","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/onecall?lat=41.65606&lon=-0.87734&exclude=minutly&appid=1ade5d09bf3e3e7d5bece4979dce1c00","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":520,"wires":[["f388c7ed.a9911"]]},{"id":"b9a5e775.81a38","type":"debug","z":"4717c57.ce4d9bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":580,"wires":[]},{"id":"f388c7ed.a9911","type":"function","z":"4717c57.ce4d9bc","name":"Parse Data","func":"// Potencia máxima de la instalación\nvar potencia = 3360;\n\n// Conusmo: primavera, otoño, invierno\n//var consumo = [70,70,70,70,70,70,70,70,150,150,150,150,1650,150,150,300,300,300,300,300,1300,300,150,150];\nvar consumo = [2670,2670,2670,2670,2670,2670,2670,2670,150,150,150,150,1650,150,150,300,300,300,300,300,1300,300,150,150];\n//var consumo = [5270,5270,5270,5270,5270,5270,5270,5270,150,150,150,150,1650,150,150,300,300,300,300,300,1300,300,150,150];\n\n// Lavadora:440, Lavavajillas:600, Vitro:1500, Termo:150, Micro:900, Horno:1500\n// 4horas de termo, dos de lavavajillas, lavadora\nvar pendiente = 150*4 + 600*2 + 440;\n\nvar nubes = 1;\nvar vibility = 1;\nvar payload = [48];\nvar i = 0;\nvar produccion =  0;\n\nvar available = 0;\nvar waste = 0;\nvar saving = 0;\n\nwhile (i < 48){\n    date = new Date(msg.payload.hourly[i].dt*1000);\n    month = date.getMonth();\n    hora = date.getHours();\n    if (month < 9) month = month+1;\n    mes = -0.0127*month*month + 0.1548*month + 0.5221;\n    produccion = (-2.5228*36*(date.getHours()-8)*(date.getHours()-8) + 174.8*6*(date.getHours()-8) + 95.983);\n    if (produccion < 0) produccion = 0\n    nubes = (((100-msg.payload.hourly[i].clouds)*90)/100 + 10) / 100;\n    visibility = msg.payload.hourly[i].visibility / 10000;\n    \n    production = produccion * mes * nubes * visibility;\n    available = production - consumo[hora];\n    if (available < 0) available = 0;\n    waste = consumo[hora] - production;\n    if (waste < 0) waste = 0;\n    if ((production-consumo[hora]) > 0) saving =  consumo[hora];\n    else saving = 0;\n    \n    payload[i] = [{\n        time: msg.payload.hourly[i].dt * 1000000000,\n        temperature: msg.payload.hourly[i].temp - 273.15,\n        clouds: msg.payload.hourly[i].clouds,\n        visibility: msg.payload.hourly[i].visibility,\n        humidity: msg.payload.hourly[i].humidity,\n        pressure: msg.payload.hourly[i].pressure,\n        description: msg.payload.hourly[i].weather[0].description,\n        production: production,\n        consumtion: consumo[hora],\n        available: available,\n        waste: waste,\n        saving: saving,\n        pending: pendiente,\n    }];\n    i = i + 1;\n}\nreturn {\n    payload: payload\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":540,"wires":[["b9a5e775.81a38","71f8d60b.c8462"]]},{"id":"72492aa6.98d77c","type":"influxdb out","z":"4717c57.ce4d9bc","influxdb":"7cf07ef2.61e6b","name":"Graphics","measurement":"graphics","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":540,"wires":[]},{"id":"71f8d60b.c8462","type":"json","z":"4717c57.ce4d9bc","name":"","property":"measurement","action":"","pretty":true,"x":590,"y":520,"wires":[["72492aa6.98d77c"]]},{"id":"35a8cc74.230bdc","type":"debug","z":"4717c57.ce4d9bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":700,"wires":[]},{"id":"35d45470.25ad34","type":"influxdb in","z":"4717c57.ce4d9bc","influxdb":"7cf07ef2.61e6b","name":"Graphics&PVPC read","query":"SELECT consumtion::field FROM graphics WHERE time>now()-24h;\nSELECT price::field FROM pvpc WHERE time>now()-24h;\nSELECT saving::field FROM graphics WHERE time>now()-24h;","rawOutput":false,"precision":"","retentionPolicy":"","org":"my-org","x":240,"y":640,"wires":[["3586e409.3f8c74"]]},{"id":"3586e409.3f8c74","type":"function","z":"4717c57.ce4d9bc","name":"","func":"var potencia = 3360;\n\nvar estacion = 1.0;\nvar hora=1;\nvar payload = [24];\nvar i=0;\n\nwhile (i<24){\n    date=new Date(msg.payload[0][i].time)\n    if (date.getMonth()<=3){estacion=0.75}\n    else if (date.getMonth()<=6){estacion=1}\n    else if (date.getMonth()<=9){estacion=0.9}\n    else {estacion=0.6}\n    \n    if(date.getHours()<8){hora=0}\n    else if(date.getHours()<13){hora=0.5}\n    else if(date.getHours()<17){hora=1}\n    else if(date.getHours()<20){hora=0.5}\n    else {hora=0}\n    payload[i]=[{\n        time:msg.payload[0][i].time,\n        comsumption:msg.payload[0][i].consumtion,\n        price:msg.payload[1][i].price,\n        saved:(msg.payload[2][i].saving*msg.payload[1][i].price/1000),\n        \n}];\n    i=i+1;\n}\n\nreturn {\n    payload: payload\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":660,"wires":[["35a8cc74.230bdc","8e75a970.88d8c8"]]},{"id":"c70a121f.35119","type":"influxdb out","z":"4717c57.ce4d9bc","influxdb":"7cf07ef2.61e6b","name":"Saved","measurement":"saved","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":660,"wires":[]},{"id":"8e75a970.88d8c8","type":"json","z":"4717c57.ce4d9bc","name":"","property":"measurement","action":"","pretty":true,"x":590,"y":640,"wires":[["c70a121f.35119"]]},{"id":"edbe1e8f.71c4b","type":"http request","z":"4717c57.ce4d9bc","name":"forecast weather","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/onecall?lat=41.65606&lon=-0.87734&exclude=minutly&appid=1ade5d09bf3e3e7d5bece4979dce1c00","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":400,"wires":[["4b22513a.fedd38"]]},{"id":"524cf209.c602d4","type":"inject","z":"4717c57.ce4d9bc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":520,"wires":[["edbe1e8f.71c4b","95c6f4df.d93ab","35d45470.25ad34"]]},{"id":"9b79ec0f.e1aba8","type":"debug","z":"4717c57.ce4d9bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":460,"wires":[]},{"id":"4b22513a.fedd38","type":"function","z":"4717c57.ce4d9bc","name":"Parse Data","func":"var potencia = 3360;\nvar nubes = 1;\nvar payload = [48];\nvar i = 0;\nvar produccion = 0;\nwhile (i <  48){\n    date = new Date(msg.payload.hourly[i].dt*1000);\n    month = date.getMonth();\n    if (month < 9) month = month+1;\n    mes = -0.0127*month*month + 0.1548*month + 0.5221;\n    produccion = (-2.5228*36*(date.getHours()-8)*(date.getHours()-8)+174.8*6*(date.getHours()-8)+95.983);\n    if (produccion < 0) produccion = 0\n    nubes=(((100-msg.payload.hourly[i].clouds)*90)/100 + 10) / 100;\n    \n    payload[i] = [{\n        time: msg.payload.hourly[i].dt*1000000000,\n        temperature: msg.payload.hourly[i].temp-273.15,\n        clouds: msg.payload.hourly[i].clouds,\n        visibility: msg.payload.hourly[i].visibility,\n        humidity: msg.payload.hourly[i].humidity,\n        pressure: msg.payload.hourly[i].pressure,\n        description: msg.payload.hourly[i].weather[0].description,\n        production: produccion*mes*nubes,\n    }];\n    i = i + 1;\n}\nreturn {\n    payload: payload\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":420,"wires":[["9b79ec0f.e1aba8","c984a7fb.6bbd4"]]},{"id":"b5a1ece6.0f5d5","type":"influxdb out","z":"4717c57.ce4d9bc","influxdb":"7cf07ef2.61e6b","name":"prod1","measurement":"prod1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":420,"wires":[]},{"id":"c984a7fb.6bbd4","type":"json","z":"4717c57.ce4d9bc","name":"","property":"measurement","action":"","pretty":true,"x":590,"y":400,"wires":[["b5a1ece6.0f5d5"]]},{"id":"caa0531c.400d8","type":"function","z":"4717c57.ce4d9bc","name":"Parse Data","func":"function stringToPrice(text) {\n    var price = text.replace(',', '.');\n    price = parseFloat(price);\n    price = price / 1000;\n    price = price.toFixed(5);\n    \n    return parseFloat(price);\n}\n\nvar pvpc = msg.payload.PVPC;\n\nlet str = pvpc[0].Dia;\nconst array = str.split(\"/\");\n\nvar time = 1000000000 * ((array[0]-1)*86400 + (array[1]-1)*2629743 + (array[2]-1970)*31556926 - 4*3600 - 46*60);// - 3600*12 + 60*10);\n\nvar payload = [24];\nvar i = 0;\n\nwhile (i < 24){\n    payload[i] = [{\n        time: time + 1000000000*3600*i,\n        price: stringToPrice(pvpc[i].PCB)\n    }]\n    i = i + 1;\n}\n\nreturn {\n    payload: payload\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":180,"wires":[["8b0de6e0.83d778"]]},{"id":"7cf07ef2.61e6b","type":"influxdb","hostname":"localhost","port":"8086","protocol":"http","database":"SolarData","name":"Influx_SolarData","usetls":false,"tls":"283a670c.e20a28","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d14a9d96.0a34b8","type":"mqtt-broker","name":"Circutor CVM-1D","broker":"eu1.cloud.thethings.network","port":"1883","tls":"3827b62e.b2e87a","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"283a670c.e20a28","type":"tls-config","name":"Default","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"3827b62e.b2e87a","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]