NodeRED-Config.json
[{"id":"d0c95421.17724","type":"tab","label":"Uplinks (config)","disabled":false,"info":""},{"id":"c4209f8b.f455d","type":"mqtt in","z":"d0c95421.17724","name":"pruebadragino1","topic":"v3/+/devices/pruebadragino1/up","qos":"2","datatype":"json","broker":"d14a9d96.0a34b8","x":100,"y":60,"wires":[["e4bf233e.dc03b8","17e8c0a5.80f17f","b3394ae9.435608"]]},{"id":"e718a927.4241b8","type":"mqtt out","z":"d0c95421.17724","name":"","topic":"v3/pruebadragino1@ttn/devices/pruebadragino1/down/push","qos":"1","retain":"true","broker":"d14a9d96.0a34b8","x":620,"y":320,"wires":[]},{"id":"e5b098fc.58371","type":"inject","z":"d0c95421.17724","name":"NonParity","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[167,2,0]","payloadType":"bin","x":100,"y":240,"wires":[["4e6b36d4.11cec"]]},{"id":"b2f5fe6d.60594","type":"inject","z":"d0c95421.17724","name":"Baud rate (9600)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[167, 1, 37, 128]","payloadType":"bin","x":120,"y":220,"wires":[["4e6b36d4.11cec"]]},{"id":"4e6b36d4.11cec","type":"function","z":"d0c95421.17724","name":"","func":"return {\n  \"payload\": {\n    \"downlinks\": [{\n      \"f_port\": 2,\n      \"frm_payload\": msg.payload.toString(\"base64\"),\n      \"priority\": \"NORMAL\"\n    }]\n  }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":320,"wires":[["e718a927.4241b8","bff52c44.ba9e3"]]},{"id":"e4bf233e.dc03b8","type":"function","z":"d0c95421.17724","name":"decoder","func":"const bytes = Buffer.from(msg.payload.uplink_message.decoded_payload.bytes, 'base64');\nconst port = msg.payload.port;\n\nlet i = 0;\nmsg.payload = {\n  //payver: bytes[0],\n  precio: (bytes[1]*256+bytes[2])/100,\n  bateria: (bytes[3]*256+bytes[4]),\n  tiempo: (bytes[5]*256+bytes[6]),\n  consumo: (bytes[7]*256+bytes[8]),\n  param1: (bytes[9]*256+bytes[10]),\n  param2: (bytes[11]*256+bytes[12])\n  \n\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":140,"wires":[["2d3fafd0.8e168","e55e05f7.927b88"]]},{"id":"2d3fafd0.8e168","type":"debug","z":"d0c95421.17724","name":"decod","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":180,"wires":[]},{"id":"e55e05f7.927b88","type":"file","z":"d0c95421.17724","name":"","filename":"/home/aherranz/logs/reg_emul.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":640,"y":140,"wires":[[]]},{"id":"92e56010.a3753","type":"inject","z":"d0c95421.17724","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":220,"wires":[["e55e05f7.927b88"]]},{"id":"b3394ae9.435608","type":"debug","z":"d0c95421.17724","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":100,"wires":[]},{"id":"17e8c0a5.80f17f","type":"debug","z":"d0c95421.17724","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":40,"wires":[]},{"id":"bff52c44.ba9e3","type":"debug","z":"d0c95421.17724","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":380,"wires":[]},{"id":"46a8e23d.d615ec","type":"inject","z":"d0c95421.17724","name":"intervalo6","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1, 0, 0, 6]","payloadType":"bin","x":100,"y":200,"wires":[["4e6b36d4.11cec"]]},{"id":"7a0d6df2.b0bddc","type":"inject","z":"d0c95421.17724","name":"Reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[4, 254]","payloadType":"bin","x":70,"y":180,"wires":[["4e6b36d4.11cec"]]},{"id":"f1a8e3.5c31072","type":"inject","z":"d0c95421.17724","name":"StopBit","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[167,3,0]","payloadType":"bin","x":90,"y":260,"wires":[["4e6b36d4.11cec"]]},{"id":"c81605a9.57af4","type":"inject","z":"d0c95421.17724","name":"Clear","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[9, 1, 10]","payloadType":"bin","x":70,"y":300,"wires":[["4e6b36d4.11cec"]]},{"id":"e57e7c19.04f8a8","type":"inject","z":"d0c95421.17724","name":"Command1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[175, 1, 1, 6, 1, 3, 0, 1, 0, 1, 0]","payloadType":"bin","x":90,"y":340,"wires":[["4e6b36d4.11cec"]]},{"id":"bd801b76.c94128","type":"inject","z":"d0c95421.17724","name":"DataCut1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[175, 1, 2, 4, 9, 1, 4, 5, 0]","payloadType":"bin","x":80,"y":360,"wires":[["4e6b36d4.11cec"]]},{"id":"e2626916.3d448","type":"inject","z":"d0c95421.17724","name":"Command2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[175, 2, 1, 6, 1, 3, 0, 2, 0, 1, 0]","payloadType":"bin","x":90,"y":400,"wires":[["4e6b36d4.11cec"]]},{"id":"88e47212.3ab6d8","type":"inject","z":"d0c95421.17724","name":"DataCut2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[175, 2, 2, 4, 9, 1, 4, 5, 0]","payloadType":"bin","x":80,"y":420,"wires":[["4e6b36d4.11cec"]]},{"id":"14412cbd.933e8b","type":"inject","z":"d0c95421.17724","name":"Command3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[175, 3, 1, 6, 1, 3, 0, 3, 0, 1, 0]","payloadType":"bin","x":90,"y":460,"wires":[["4e6b36d4.11cec"]]},{"id":"a52c1535.843248","type":"inject","z":"d0c95421.17724","name":"DataCut3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[175, 3, 2, 4, 9, 1, 4, 5, 0]","payloadType":"bin","x":80,"y":480,"wires":[["4e6b36d4.11cec"]]},{"id":"ee2d292c.90d81","type":"inject","z":"d0c95421.17724","name":"Command4","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[175, 4, 1, 6, 1, 3, 0, 4, 0, 1, 0]","payloadType":"bin","x":90,"y":520,"wires":[["4e6b36d4.11cec"]]},{"id":"6e192fd7.45d2c8","type":"inject","z":"d0c95421.17724","name":"DataCut4","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[175, 4, 2, 4, 9, 1, 4, 5, 0]","payloadType":"bin","x":80,"y":540,"wires":[["4e6b36d4.11cec"]]},{"id":"d14a9d96.0a34b8","type":"mqtt-broker","name":"Circutor CVM-1D","broker":"eu1.cloud.thethings.network","port":"1883","tls":"3827b62e.b2e87a","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3827b62e.b2e87a","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]